body {
    background-color: beige;
    padding: 0;
    margin: 0;
    /* display: flex; */
    justify-content: center;
    background: url("../img/fonddofus.jpeg");
    background-size: cover;
    color: beige;
    font-size: 23px;

}
#youWin{
    display: none; 
    font-size: 229px;
    color: red;
    position: absolute;
}
.playPause{
    background-color: #3439db;
    color: white;
    margin: 6px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
};


button {
    cursor: pointer;
    background-color: #3439db;
    color: white;
}

header {
    display: flex;
    background-color: blueviolet;
    justify-content: center;
    height: 35px;
    gap: 25px;
}

.ddd {
    margin-left: 30px;
    margin-top: 5px;
}

/* .btnTheme {
  button {
    position: relative;
    padding: 12px 35px; 
    background: #fec195;
    font-size: 17px;
    font-weight: 500;
    color: #181818;
    border: 3px solid #fec195;
    border-radius: 8px;
    box-shadow: 0 0 0 #fec1958c;
    transition: all 0.3s ease-in-out;
  }

  .star-1 {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
  }

  .star-2 {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
  }

  .star-3 {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
  }

  .star-4 {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
  }

  .star-5 {
    position: absolute;
    top: 25%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
  }

  .star-6 {
    position: absolute;
    top: 5%;
    left: 50%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 0.8s ease;
  }

  button:hover {
    background: transparent;
    color: #fec195;
    box-shadow: 0 0 25px #fec1958c;
  }

  button:hover .star-1 {
    position: absolute;
    top: -80%;
    left: -30%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }

  button:hover .star-2 {
    position: absolute;
    top: -25%;
    left: 10%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }

  button:hover .star-3 {
    position: absolute;
    top: 55%;
    left: 25%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }

  button:hover .star-4 {
    position: absolute;
    top: 30%;
    left: 80%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }

  button:hover .star-5 {
    position: absolute;
    top: 25%;
    left: 115%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }

  button:hover .star-6 {
    position: absolute;
    top: 5%;
    left: 60%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }

  .fil0 {
    fill: #fffdef;
  }
} */
/* DROPDOWN */

/* Dropdown Button */
.dropbtn {
    background-color: #3439db;
    color: white;
    margin: 6px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    padding: 30px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
    background-color: #2980b9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: flex;
    justify-content: center;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}

#scoreboard {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    border: white 1px solid;
    width: 400px;
    height: 500px;
    padding: 25px;
    gap: 50px;
}

.inputPseudo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputPseudo input {
    border: none;
    border-radius: 2px;
}

.inputPseudo button {
    border: none;
    border-radius: 2px;
    display: flex;
    justify-content: center;
}

.hautTableau {
    display: flex;
    gap: 20px;
}

.basTableau {
    display: flex;
    gap: 40px;
}

#timer {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.buttonExo {
    margin-left: 40px;
    margin-top: 10px;
    padding: 10px;
}

/* ===================== CARTES ===================== */
.section2 {
    margin-top: -500px;
    margin-left: 150px;
    display: flex;
    flex-direction: column;
    gap: 29px;
    align-items: center;
    display: none;
}

.firstrowcards {
    gap: 20px;
    display: flex;
}

.firstrowcards div {
    width: 250px;
    height: 350px;
    /* background-color: red;
    border-radius: 3px; */
    /* border: blue 5px solid; */
    border-radius: 13px;
    /* background: #dd2727; */
    /* box-shadow:  7px 7px 14px #c52323,
    -7px -7px 14px #f52b2b;
*/
}

.firstrowcards img {
    width: 100%;
    height: 100%;
}

.randomImage1 {
    background-image: url(/public/img/cra.png);
    width: 100%;
    height: 100%;
}

card1 {
    background: url(/public/img/cra.png);
}
.card {
    position: relative;
    width: 150px;
    height: 250px;
    /* border: blue 5px solid; */
    border-radius: 13px;
    perspective: 1000px;
    transition: transform 0.5s;
}

.card.flipped {
    transform: rotateY(180deg);
}

.card img {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
#replayButton{
    background-color: #3439db;
    color: white;
    margin: 6px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    padding: 30px;
};

